@use '../../../styles/mixins' as mixin;
@import '../../../styles/colors';
@import '../../../styles/theme.scss';

.invoicePageHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100px;
  margin-top: 2rem;
  padding-inline: 2rem;
  border-radius: 7px;
  font-size: 0.75rem;

  @include themed(){
      background-color: t("card-bg-color");
      color: t("text3-color");
    }
}