@use "../styles/mixins" as mixin;

.container {
  width: 100vw;
  min-height: 100vh;
  padding-inline: 24px 24.5px;

  @include mixin.mq(large) {
    width: calc(100vw - 111px);
    padding-inline: 1.8rem 1.96rem;
  }
}

.main {
  width: 100%;
  padding-top: 30px;

  @include mixin.mq(large) {
    padding-inline: 15.5vw 22vw;
    padding-top: 73px;
  }
}

.unclickable {
  pointer-events: none;
}
