@use "../../../styles/mixins" as mixin;
@import "../../../styles/colors.scss";

.newInvoiceBtn {
  width: 90px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 13.5px 0 6px;
  border-radius: 100vmax;
  background-color: $purple-100;
  color: $primary-050;
  font-size: 0.705rem;
  font-weight: bold;
  letter-spacing: 0.06rem;
  cursor: pointer;

  margin-left: auto;

  &:hover {
    background-color: $purple-200;
  }

  @include mixin.mq(medium) {
    width: 150px;
    height: 48px;
    padding-inline: 8px 15px;
    letter-spacing: 0.04rem;
  }

  .iconPlus {
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
    background-color: $primary-200;
    border-radius: 50%;

    span {
      transform: translate(1px, 1px);
    }
  }
}
