
$primary-050: #ffffff; // invoice-id-dark
$primary-100: #f2f2f2;
$primary-200: #F9FAFE;
$primary-300: #F8F8FB; //light-mode-background
$primary-400: #DFE3FA; // card-date-dark + NumberOfInvoices + statusDraft-dark

$blue-050: #0c0e16; // invoice-id-light
$blue-100: #141625; // dark-mode-background
$blue-200: #1E2139; // card-background-dark
$blue-300: #252945; // ou 25292D EditButton-background
$blue-400: #373B53; // light-mode-toolbar-bg + statusDraftText-light
$blue-500: #494e6e;
$blue-600: #7E88C3; // # + card-date-light
$blue-700: #888eb0; // clientName

$purple-100: #7C5DFA; // home-icon-dark + card-hover-dark
$purple-200: #9277FF; // home-icon-light
$purple-300: rgba(227, 223, 250, .06); // ou rgba(224,228,250,.06); statusDraftBg-dark

$green-100: #33D69F;
$green-200: rgba(51, 214, 159, .05);

$orange-100: #FF8F00;
$orange-200: rgba(255, 143, 0, .05);

$red-100: #EC5757;
$red-200: #ff9797;

$black: #0c0e16;