@use "mixins" as mixin;
@import "theme";

@font-face {
  font-family: "Spartan";
  src: url("../public/fonts/SpartanMB-Regular.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  src: url("../public/fonts/SpartanMB-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Spartan";
  position: relative;
  overscroll-behavior: none;
}

button {
  cursor: pointer;
}

#__next,
.theme {
  display: block;
  width: 100%;

  @include mixin.mq(large) {
    display: flex;
    height: min-content;
  }
}

.theme--dark {
  background: map-get(map-get($themes, "dark"), "background-color");
  color: map-get(map-get($themes, "dark"), "text-color");
}

.theme--light {
  background: map-get(map-get($themes, "light"), "background-color");
  color: map-get(map-get($themes, "light"), "text-color");
}

/* Next.js 13 issue */
[data-nextjs-scroll-focus-boundary] {
  overflow: auto;
  overflow-x: hidden;
}