@use '../styles/mixins' as mixin;

.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 24.5px;
  position: relative;

  @include mixin.mq(large) {
    padding-inline: 1.8rem 1.96rem; 
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  padding-top: 30px;

  @include mixin.mq(large) {
    padding-inline: 15.5vw 22.5vw;
    padding-top: 72px;
  }
}

